

/* .swiper-pagination-bullet {

} */

.swiper-pagination-bullet-active img {
  background: #052130;
}

.mySwiper .swiper-pagination {
  max-height: 150px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  position: fixed;
  z-index: 30;
  top: 5rem;
  display: grid;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-delay: 300ms;
  padding: 1.25rem 0.75rem 0px;
  gap: 0.5rem;
  width: 100%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  font-size: .75rem;
  line-height: 1.75rem;
  background-color: #F2F1EE;
}

.showHeader.mySwiper .swiper-pagination  {
  transition-duration: 300ms;
  transform: translateY(-5rem);
  transition-delay: 100ms;
}

// .mySwiper .swiper-pagination

// .subSwiper .swiper-pagination {
//   top: 198px ;
//   position: fixed;
//   z-index: 100;
//   display: flex;
//   background: #F2F1EE;
//   padding: .5rem;
//   padding-top: 0;
// }

// .subSwiper .swiper-pagination-bullet-active {
//   background: #052130;
//   color: #F2F1EE;
// }

// .showHeader .subSwiper .swiper-pagination  {
//   transition-duration: 300ms;
//   transform: translateY(0);
//   transition-delay: 100ms;
// }

.swiper-pagination-bullet-active span ,
.swiper-pagination-bullet-active + span,
#pizza ~ span.swiper-pagination-bullet-active {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-delay: 100ms;
  transform: translateY(9rem);
}

span.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active span{
  background: #052130;
  color: #F2F1EE;
}

.sibling img {
  background: #052130;
}
